{% load static %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
         <div class="carousel-item active">
                <img src="{% static 'images/image1.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block carousal_heading" style="margin-bottom: 150px;">
                     <h1>
                         Helping Business Realize <span class="change_content">  </span><br>Their Fullest Potential
                     </h1>
{#                     <h3>is just a sophisticated way of demanding money with menaces.</h3>#}
                </div>
         </div>
    </div>
</div>
<style>
    h1{
        color: #050763;font-size: 50px;text-shadow: 2px 2px black;
    }
    h1:hover{
        font-size: 70px;
    }
    {#.change_content{#}
    {#    width: 50px;#}
    {#    background-color: red;#}
    {#    content: "hlo";#}
    {#    animation: change_text 10s infinite linear;#}
    {#}#}
    {#@keyframes changetext {#}
    {#    0%{content: "hloooo";}#}
    {#    50%{content: "hiiiii";}#}
    {#    75%{content: "byeee";}#}
    {#}#}
</style>

{#<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">#}
{#   <div class="carousel-indicators">#}
{#    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>#}
{#    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>#}
{#    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>#}
{#  </div>#}
{##}
{#  <div class="carousel-inner">#}
{#    <div class="carousel-item active" data-bs-interval="2000">#}
{#      <img src="{% static 'images/image1.jpg' %}" class="d-block w-100" alt="...">#}
{#    </div>#}
{#    <div class="carousel-item" data-bs-interval="2000">#}
{#      <img src="{% static 'images/acc12.jpg' %}" class="d-block w-100" alt="...">#}
{#    </div>#}
{#    <div class="carousel-item">#}
{#      <img src="{% static 'images/acc14.jpg' %}" class="d-block w-100" alt="...">#}
{#    </div>#}
{#  </div>#}
{#  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">#}
{#    <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#    <span class="visually-hidden">Previous</span>#}
{#  </button>#}
{#  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">#}
{#    <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#    <span class="visually-hidden">Next</span>#}
{#  </button>#}
{#</div>#}