{% load static %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
         <div class="carousel-item active">
                <img src="{% static 'images/taxation3.png' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block carousal_heading" style="margin-bottom: 150px;">
                     <h1>
                         Helping Business Realize <span class="change_content">  </span><br>Their Fullest Potential
                     </h1>
{#                     <h3>is just a sophisticated way of demanding money with menaces.</h3>#}
                </div>
         </div>
    </div>
</div>
<style>
    h1{
        color: #050763;font-size: 50px;text-shadow: 2px 2px black;
    }
    h1:hover{
        font-size: 70px;
    }

</style>

