<div class="footer">
    <div class="left_footer">
        <h4>HariMani</h4>
        <p>
            The information provided on this website is <br>
            general in nature and should not be used as a <br> basis of decision-making without further professional advice.
        </p>
    </div>
    <div class="center_footer">
        <h4>
            Company
        </h4>
        <ul>
            <li><a href=""><i class="fa fa-location-arrow" style="margin-right: 8px"></i>Why We</a></li>
            <li><a href=""><i class="fa fa-globe" style="margin-right: 8px"></i>Services</a></li>
            <li> <a href=""><i class="fa fa-bold" style="margin-right: 8px"></i>Blog</a></li>
            <li><a href=""><i class="fa fa-phone-square" style="margin-right: 8px"></i>Contact Us</a></li>
        </ul>
    </div>
    <div class="right_footer">
        <h4>Social</h4>
        <a href="https://www.facebook.com/atacserv " target="_blank" class="icon-fa-facebook-square">
                <i class="fa fa-facebook-square"></i></a>
            <a href="https://www.twitter.com/" target="_blank" class="icon-fa-twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/atacservices/" target="_blank" class="icon-fa-linkedin">
                <i class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/atacservices/" target="_blank" class="icon-fa-instagram">
                <i class="fa fa-instagram"></i></a>
    </div>
</div>
