{% load static %}


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
         <div class="carousel-item active">
                <img src="{% static 'images/Services2.png' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="margin-bottom: 130px;color: black;">
{#                     <h3>we</h3><h1>SETTLE</h1>#}
{#                     <h3>accounts for all types of Buisness Firms.</h3>#}
                     <h3>A Range of Services adapted to your needs.</h3>
                </div>
         </div>
    </div>
</div>