{% load static %}
{#<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">#}
{#  <div class="carousel-inner">#}
{#    <div class="carousel-item active">#}
{#      <img src="{% static 'images/taxation2.png' %}" class="d-block w-100" alt="...">#}
{#    </div>#}
{#    <div class="carousel-item">#}
{#      <img src="{% static 'images/taxation3.png' %}" class="d-block w-100" alt="...">#}
{#    </div>#}
{#    <div class="carousel-item">#}
{#      <img src="{% static 'images/taxation1.png' %}" class="d-block w-100" alt="...">#}
{#    </div>#}
{#  </div>#}
{#</div>#}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
         <div class="carousel-item active">
                <img src="{% static 'images/acc12.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="margin-bottom: 150px;color: black;">
                     <h1>
                         We Settle Accounts for all <br>types of Business Entities.
                     </h1>
                </div>
         </div>
    </div>
</div>

<style>
    h1{
        color: #050763;font-size: 50px;text-shadow: 2px 2px black;
    }
    h1:hover{
        font-size: 70px;
    }
</style>